# Scenario 1

---

### Learn the history of sushi:

**Kelsey:**

Quantitative Observations:

- scrolled downwards first
- clicked "about" first
- found the information without issues

Qualitative Observations:

- Says it was very clear in the tab bar
- History typically falls under "about" so it made sense


**Tester 2:**

Quantitative Observations:



Qualitative Observations:


**Tester 3:**

Quantitative Observations:



Qualitative Observations:

---

# Scenario 2

---

### Learn about Nigirizushi:

**Kelsey:**

Quantitative Observations:

- went to "types" page first
- scrolled down to find nigrizushi
- was confused about the images



Qualitative Observations:

- Try categorizing the images, or including name on photo. 


**Tester 2:**

Quantitative Observations:



Qualitative Observations:


**Tester 3:**

Quantitative Observations:



Qualitative Observations:


---

# Scenario 3

---

### Learn about the condiments of sushi:

**Kelsey:**

Quantitative Observations:

- was unsure if she should go to "ingredients" or "making sushi"
- chose "ingredients" and found the condiments



Qualitative Observations:

- says it may be confusing to find at first but in the end it made sense


**Tester 2:**

Quantitative Observations:



Qualitative Observations:


**Tester 3:**

Quantitative Observations:



Qualitative Observations:





	