# Scenario 1

---

### Learn the history of sushi:

**Kelsey:**

Quantitative Observations:

- scrolled downwards first
- clicked "about" first
- found the information without issues

Qualitative Observations:

- Says it was very clear in the tab bar
- History typically falls under "about" so it made sense


**Jamie:**

Quantitative Observations:

- Found the history without issues
- clicked "about" right away



Qualitative Observations:

- Change the link in the footer



**Caroline:**

Quantitative Observations:

-found the history with no issues



Qualitative Observations:

- mentioned hover on billboard images

---

# Scenario 2

---

### Learn about Nigirizushi:

**Kelsey:**

Quantitative Observations:

- went to "types" page first
- scrolled down to find nigrizushi
- was confused about the images



Qualitative Observations:

- Try categorizing the images, or including name on photo. 


**Jamie:**

Quantitative Observations:

- Found it right away
- Clicked "types" right away



Qualitative Observations:

- says the images work and are easy to understand which image goes with each text



**Caroline:**

Quantitative Observations:

- Found the information without any issues



Qualitative Observations:

- Add an HR tag to divide the images and content


---

# Scenario 3

---

### Learn about the condiments of sushi:

**Kelsey:**

Quantitative Observations:

- was unsure if she should go to "ingredients" or "making sushi"
- chose "ingredients" and found the condiments



Qualitative Observations:

- says it may be confusing to find at first but in the end it made sense


**Jamie:**

Quantitative Observations:

- Found the condiments by clicking "ingredients" right away



Qualitative Observations:

- no issue with this scenerio


**Caroline:**

Quantitative Observations:

- Found the condiments but was confused as to go to "ingredients" or "making sushi"



Qualitative Observations:

- Maybe change background colour to divide the photos and content





	