<!doctype html>
<html>
<head>
<meta charset="UTF-8">
	<title>Sushi</title>
		<link href="css/general.css" rel="stylesheet">	
		<link href="css/grid.css" rel="stylesheet">	
	<meta name="handheldfriendly" content="true">
	<meta name="mobileoptimized" content="240">
	<meta name="viewport" content="width=device-width,initial-scale=1,target-densitydpi=device-dpi">
</head>

<body>


<div class="grid masthead">
	<div class="unit unit-s-2-10 unit-m-1-10 unit-l-1-10">
	<img src="http://placehold.it/130x130" class="logo" alt="">
	</div>
	
	<nav class="unit unit-s-8-10 unit-m-9-10 unit-l-9-10">
	
	<div class="nav nav-l nav-m nav-s">
		<ul>
		<li><a href="xx">About</a></li>
		<li><a href="xx">Types</a></li>
		<li><a href="xx">Ingredients</a></li>
		<li><a href="xx">Health</a></li>
		<li><a href="xx">Making Sushi</a></li>
		</ul>
	</div>
	
	</nav>
</div>



{{content}}


	<footer>
		<p> © 2013 Sushi Large Data Website. All Rights Reserved.</p>
	</footer>	
</body>



</html>